@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?90269081');
  src: url('../font/fontello.eot?90269081#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?90269081') format('woff2'),
       url('../font/fontello.woff?90269081') format('woff'),
       url('../font/fontello.ttf?90269081') format('truetype'),
       url('../font/fontello.svg?90269081#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?90269081#fontello') format('svg');
  }
}
*/
[class^="fontello-"]:before, [class*=" fontello-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fontello-ok:before { content: '\2e'; } /* '.' */
.fontello-ok-circle:before { content: '\2f'; } /* '/' */
.fontello-link:before { content: '\31'; } /* '1' */
.fontello-share-2:before { content: '\33'; } /* '3' */
.fontello-doc-text:before { content: '\3b'; } /* ';' */
.fontello-feather:before { content: '\7c'; } /* '|' */
.fontello-check:before { content: '\e78c'; } /* '' */
.fontello-user-1:before { content: '\e800'; } /* '' */
.fontello-key:before { content: '\e801'; } /* '' */
.fontello-calendar:before { content: '\e802'; } /* '' */
.fontello-download:before { content: '\e803'; } /* '' */
.fontello-list-alt:before { content: '\e804'; } /* '' */
.fontello-sunrise:before { content: '\e805'; } /* '' */
.fontello-sun:before { content: '\e806'; } /* '' */
.fontello-moon:before { content: '\e807'; } /* '' */
.fontello-dot-3:before { content: '\e808'; } /* '' */
.fontello-dot-2:before { content: '\e809'; } /* '' */
.fontello-dot:before { content: '\e80a'; } /* '' */
.fontello-wrench:before { content: '\e80b'; } /* '' */
.fontello-edit:before { content: '\e80c'; } /* '' */
.fontello-clock:before { content: '\e80d'; } /* '' */
.fontello-left-open:before { content: '\e80e'; } /* '' */
.fontello-up-big:before { content: '\e80f'; } /* '' */
.fontello-googleplay:before { content: '\e810'; } /* '' */
.fontello-eye-off:before { content: '\e811'; } /* '' */
.fontello-eye:before { content: '\e812'; } /* '' */
.fontello-help-1:before { content: '\e813'; } /* '' */
.fontello-info-circled:before { content: '\e814'; } /* '' */
.fontello-chat:before { content: '\e815'; } /* '' */
.fontello-trash:before { content: '\e816'; } /* '' */
.fontello-pencil:before { content: '\e817'; } /* '' */
.fontello-doc-add:before { content: '\e818'; } /* '' */
.fontello-help-circled:before { content: '\e819'; } /* '' */
.fontello-attention:before { content: '\e81a'; } /* '' */
.fontello-bell:before { content: '\e81b'; } /* '' */
.fontello-cancel:before { content: '\e81c'; } /* '' */
.fontello-award:before { content: '\e81d'; } /* '' */
.fontello-doc-text-1:before { content: '\e81e'; } /* '' */
.fontello-down-circle:before { content: '\e81f'; } /* '' */
.fontello-users:before { content: '\e820'; } /* '' */
.fontello-campsite:before { content: '\e821'; } /* '' */
.fontello-temperatire:before { content: '\e822'; } /* '' */
.fontello-arrows-cw:before { content: '\e823'; } /* '' */
.fontello-left-bold:before { content: '\e824'; } /* '' */
.fontello-right-bold:before { content: '\e825'; } /* '' */
.fontello-chart-line:before { content: '\e826'; } /* '' */
.fontello-cog-alt:before { content: '\e827'; } /* '' */
.fontello-location:before { content: '\e828'; } /* '' */
.fontello-floppy:before { content: '\e829'; } /* '' */
.fontello-doc-text-2:before { content: '\e82a'; } /* '' */
.fontello-right-circle:before { content: '\e82b'; } /* '' */
.fontello-calendar-1:before { content: '\e82c'; } /* '' */
.fontello-split:before { content: '\e82d'; } /* '' */
.fontello-bullhorn:before { content: '\e82e'; } /* '' */
.fontello-folder-add:before { content: '\e82f'; } /* '' */
.fontello-star-empty:before { content: '\e830'; } /* '' */
.fontello-menu-outline:before { content: '\e831'; } /* '' */
.fontello-minus-outline:before { content: '\e832'; } /* '' */
.fontello-group:before { content: '\e833'; } /* '' */
.fontello-doc-new:before { content: '\e834'; } /* '' */
.fontello-article:before { content: '\e835'; } /* '' */
.fontello-chart-bar:before { content: '\e836'; } /* '' */
.fontello-plus:before { content: '\e837'; } /* '' */
.fontello-mail:before { content: '\e838'; } /* '' */
.fontello-target:before { content: '\e839'; } /* '' */
.fontello-book-1:before { content: '\e83a'; } /* '' */
.fontello-archive:before { content: '\e83b'; } /* '' */
.fontello-undo:before { content: '\e83c'; } /* '' */
.fontello-plus-squared:before { content: '\e83d'; } /* '' */
.fontello-cw:before { content: '\e83e'; } /* '' */
.fontello-export:before { content: '\e83f'; } /* '' */
.fontello-eq:before { content: '\e840'; } /* '' */
.fontello-user-add:before { content: '\e841'; } /* '' */
.fontello-users-1:before { content: '\e842'; } /* '' */
.fontello-calendar-alt:before { content: '\e843'; } /* '' */
.fontello-home:before { content: '\e844'; } /* '' */
.fontello-calendar-alt-1:before { content: '\e845'; } /* '' */
.fontello-star-circled:before { content: '\e846'; } /* '' */
.fontello-clock-alt:before { content: '\e847'; } /* '' */
.fontello-flow-line:before { content: '\e848'; } /* '' */
.fontello-folder-open:before { content: '\f068'; } /* '' */
.fontello-lock-open-alt:before { content: '\f075'; } /* '' */
.fontello-link-ext:before { content: '\f08e'; } /* '' */
.fontello-docs:before { content: '\f0c5'; } /* '' */
.fontello-menu:before { content: '\f0c9'; } /* '' */
.fontello-exchange:before { content: '\f0ec'; } /* '' */
.fontello-user-md:before { content: '\f0f0'; } /* '' */
.fontello-spinner:before { content: '\f110'; } /* '' */
.fontello-unlink:before { content: '\f127'; } /* '' */
.fontello-help:before { content: '\f128'; } /* '' */
.fontello-pound:before { content: '\f154'; } /* '' */
.fontello-graduation-cap:before { content: '\f19d'; } /* '' */
.fontello-cube:before { content: '\f1b2'; } /* '' */
.fontello-sliders:before { content: '\f1de'; } /* '' */
.fontello-share-squared:before { content: '\f1e1'; } /* '' */
.fontello-calc:before { content: '\f1ec'; } /* '' */
.fontello-street-view:before { content: '\f21d'; } /* '' */
.fontello-bed:before { content: '\f236'; } /* '' */
.fontello-object-group:before { content: '\f247'; } /* '' */
.fontello-object-ungroup:before { content: '\f248'; } /* '' */
.fontello-sticky-note:before { content: '\f249'; } /* '' */
.fontello-sticky-note-o:before { content: '\f24a'; } /* '' */
.fontello-clone:before { content: '\f24d'; } /* '' */
.fontello-calendar-times-o:before { content: '\f273'; } /* '' */
.fontello-calendar-check-o:before { content: '\f274'; } /* '' */
.fontello-map-o:before { content: '\f278'; } /* '' */
.fontello-window-maximize:before { content: '\f2d0'; } /* '' */
.fontello-window-close:before { content: '\f2d3'; } /* '' */
.fontello-comment:before { content: '\f4ac'; } /* '' */
.fontello-calendar-2:before { content: '\f4c5'; } /* '' */
.fontello-search:before { content: '\f50d'; } /* '' */
.fontello-lock-alt:before { content: '\f510'; } /* '' */
